body {
    font-family: 'Segoe UI';
}
*{
    margin:0;
    box-sizing:border-box;
    font-weight:100;
}

#menu{
    height:89vh;
    width:100%;
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/herobox-images/Klipsch-Bookshelf-Speakers-Family.jpg);
    background-size:cover;
    background-position:30% center;
    display:none;
}
#menu div{
    position:relative;
    width:100%;
    height:100%;
    padding-top:5%;
    text-align:center;
    background:rgba(0, 0, 0, 0.7);
}
#menu div p{
    width:100%;
    height:15%;
    text-decoration:none;
    list-style-type:none;
    color:rgb(196, 114, 67);
    font-size:60px;
    padding-top:5%;
}
#menu div p a{
    text-decoration:none;
    color:rgb(196, 114, 67);
    font-size:60px;
}
#header{
    width:100%;
    height:11vh;
    background:rgba(0, 0, 0, 0.5);
    position:absolute;
    text-align:center;
    border-bottom:2px solid rgb(196, 114, 67);
}
#header h1{
    font-size:130px;
    color:#000;
    margin-left:10%;
    font-weight:600;
    display:inline-block;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/promobox-images/_476xAUTO_fit_center-center_80/Klipsch-Reference-Premiere-Floorstanding-Speakers.jpg) no-repeat;
    background-position:47% 0%;
    background-size:400%;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip:text;
}
#hamButton{
    font-size:110px;
    float:right;
    margin-top:0%;
    margin-right:0%;
    padding:2% 5%;
    color:rgba(255, 255, 255, 0.7);
    display:inline-block;
}

#homeBackground{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/promobox-images/Klipsch-Reference-Premiere-Floorstanding-Speakers.jpg);
    background-size:cover;
    background-position:45% 100%;
    padding-top:12vh;
    width:100%;
    height:50vh;
    border-bottom:5px solid rgb(196, 114, 67);
    text-align:center;
}
#subSale{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/herobox-images/Klipsch-Reference-Subwoofers-Product-Stack.jpg);
    background-size:cover;
    background-position:center;
    height:60vh;
    width:100%;
    border-bottom:2px solid rgb(196, 114, 67);
}
#subSale article{
    background:rgba(0, 0, 0, 0.5);
    width:100%;
    height:60%;
    top:40%;
    position:relative;
    text-align:center;
    padding-top:2%;
}
#subSale article h2{
    font-size:70px;
    color:rgb(196, 114, 67);

}
#subSale article p{
    color:rgba(255, 255, 255, 0.8);
    font-size:45px;
}
#saleButton{

}
#popul{
    height:10vh;
    width:100%;
    background:rgb(20, 20, 20);
    text-align:center;
    padding-top:3%;
}
#popul h2{
    font-size:70px;
    color:rgb(196, 114, 67);
}
#kampanjer div div{
    background:rgba(0, 0, 0, 0.7);
    text-align:center;
    height:30%;
    top:70%;
    padding-top:2%;
    border-bottom:5px solid rgb(196, 114, 67);
    position:relative;
}
#kampanjer div div h2{
    font-size:65px;
    color:rgb(196, 114, 67);
}
#kampanjer div div p{
    font-size:40px;
    font-family:Arial;
    color:#fff;
}
#kampanjFront{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/product-images/_643xAUTO_fit_center-center_80/RP-280FA-Top-Walnut.jpg);
    background-repeat:no-repeat;
    background-size:70%;
    background-position:center 0;
    height:40vh;
    width:100%;
    z-index:2;
}
#kampanjSub{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/product-images/_643xAUTO_fit_center-center_80/R-112SW-Angle.jpg);
    background-repeat:no-repeat;
    background-size:80%;
    background-position:center 40%;
    height:40vh;
    width:100%;
    z-index:3;
}
#kampanjCenter{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/product-images/_643xAUTO_fit_center-center_80/G-28-H-Angle.jpg);
    background-repeat:no-repeat;
    background-size:90%;
    background-position:center 100%;
    height:40vh;
    width:100%;
    z-index:4;
}

#legacy{
    background:url(http://e994010f48279d85b5d7-a0bc3fbf1884fc0965506ae2b946e1cd.r57.cf2.rackcdn.com/promobox-images/_476xAUTO_fit_center-center_80/Klipsch-Legacy-PWK.jpg);
    background-size:cover;
    background-position:center center;
    top:10%;
    width:100%;
    color:#fff;
    height:40vh;
}
#legacy div{
    background:rgba(0, 0, 0, 0.6);
    padding:5%;
    padding-top:10%;
    width:100%;
    height:100%;
}
#legacy div h2{
    font-size:60px;
    font-weight:400;
    color:#ae663a;
}
#legacy div p{
    font-size:45px;
    letter-spacing:2px;
}
#legacy div a{
    font-size:45px;
    font-weight:400;
    position:relative;
    margin-left:0%;
    color:#ae663a;
    transition:0.4s;
}
#legacy div p a:hover{
    color:#fff;
    transition:0.2s;
}

footer{
    background:linear-gradient(-135deg, rgba(20, 20, 20, 0.9) 82%, rgb(196, 114, 67) 0%);
    height:13vh;
    width:100%;
    padding-top:5%;
    text-align:right;
    z-index:20;
    box-shadow:0px 0px 100px #000;
    border-top:0px solid rgb(196, 114, 67);
}
footer p{
    font-size:50px;
    color:rgb(196, 114, 67);
    margin-top:3%;
    margin-right:5%;
}